body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app-container {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

main {
  margin: 20px 0;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
